#app {
  font-size: 1.2em;
  text-align: center;
  margin: 1em auto;
  max-width: 500px;
}

.question {
  font-family: serif;
  padding: .5em;
}

.counter {
  margin: 1em;
}

.button {
  border-radius: .5em;
  
}
